.card {
    /* Add shadows to create the "card" effect */
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #020a0f;
  }
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.center {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: large;
    color: aliceblue;
}

body {
    background-color: #020a0f;
}

button {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: white;
    font-family: 'Comfortaa', cursive;
    
}

.centerbutton {
    text-align: center;
  }

.WhiteStyling {
    background-color: #ffffff;
    border: 5px solid #ffffff;
}

.BlueStyling {
    background-color: #031926;
    color: #ffffff;
    border: 5px solid #ffffff;
}

.BlackStyling {
    background-color: #000000;
    color: #ffffff; 
    border: 5px solid #ffffff;

}
