body {
	background-color: #031926 !important;
	color: #fff !important;
}

::-webkit-scrollbar {
    display: none;
}

._3g2C1 {
    background-color: #031926 !important;
}

._3ZuGY {
	background-color: #020A0F !important;
}

._1JSRd {
	background-color: #031926 !important;
}

h2 {
    color: white !important;
}
._3ZuGY {
	border: #2a2c34 !important;
}

.m1KlE {
	display: none !important;
}


._2-48p {
	display: none !important;
}

._2maxd {
	display: none !important;
}

._3g2C1 {
	border-bottom: 0px !important;
}

._34v50 {
	display: none !important;
}

._3Z59r {
	display: none !important;
}

._1aBYe {
	display: none !important;
}

._17EtA {
	display: none !important;
}

.PqXfk {
 font-size: 24px !important;
}

._1LpFA {
	color: #ffffff !important;
}

._1xmOg {
	color: #FA003F !important;
}

.mKH7H {
	color: #00916E !important;
}

._3g6lk {
	color: #ffffff !important;
}

._2QQA_ {
	color: #ffffff !important;
}

._3rtds {
	background: #031926 !important;
	border-top: #00000000 !important;
}

._39Lch {
	background: #031926 !important;
}

._1bdcY {
	background: #031926 !important;
}

._1Ji-c {
    background-size: 0px 0px;
}

element.style {
    z-index: 210;
}
._20BI9 {
	--shine-background-color: linear-gradient(136deg,transparent 16.5%,rgba(255,231,0,0.5) 0,rgba(255,231,0,0.5) 46.5%,transparent 0,transparent 59.5%,rgba(255,231,0,0.5) 0,rgba(255,231,0,0.5) 77.5%,transparent 0),#ffc800 disable !important;
}

._1KUxv {
	background: #020A0F !important;
	border: #031926 !important;
}



._3p5e9 {
	display: none;
}


.uqCpu .uOkpe {
    border-top: 0px !important; 
} 

/*Lesson Loading Screen*/

._3IvEG {
    align-items: center;
    background: #031926 !important;
    display: flex;
    justify-content: center;
}

.XWge1 {
	color: #ffffff !important;
}

.a1TnJ {
	color: #ffffff !important;
	size: 20px !important;
}

/*Lesson Content*/
 
._399cc {
    background: #fff;
    border-top: 2px solid #e5e5e5;
    max-height: 140px;
}

._399cc {
 background: #031926 !important;
 border-top: 0px !important; 
}

._3C_oC {
    --__internal__border-color: #000000 !important;
}

._3C_oC:before {
    background-color: #0c1c24 !important;
}

._2-OmZ {
	color: #fff !important;
}

._1QDX9 {
	color: #fff !important;
    background-color: #031926 !important;
    border-color: #000000 !important;
    border-radius: 10px;
    padding: 10px 12px;
}

/* Word Bank Garbage*/

/* Credits To @Lazypelt#6960 On Discord For Helping With This Section*/

.WOZnx {
	--__internal__border-color: var(--web-ui_button-border-color,#47a4bb) !important;
	color: var(--web-ui_button-color,#051d3c) !important;
  }
  .WOZnx:before {
	background-color: #0c1c24 !important;
	border: 2px solid  #0c1c24 !important;
	box-shadow: 0 2px 0 var(--__internal__border-color,#051d3c) !important;
  }
  
  .WOZnx.LhRk3:not(._1rl91):before, .WOZnx:disabled:not(._1rl91):before {
	background-color: #2d2f32 !important;
	--__internal__border-color: var(--web-ui_button-border-color,#2d2f32) !important;
  }
  
  ._3g2C1 {
	  border-bottom: 2px solid #051d3c !important;
	  border-bottom-color: var(--web-ui_topbar-border-color,#051d3c) !important;
	  color: #F1F7FB !important;
  }

  ._13HXc {
	color: #ffffff !important;
  }


  /*Question Completed*/

  /*Sucsess*/ 

  ._3e9O1 {
    background-color: #000000 !important;
  }


  /*Failure*/
  ._3vF5k {
    background-color: #000000 !important;
  }